@import "resets.css";
@import "layout.css";
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Very-Dark-Blue: #131518;
    --Dark-Blue: #262E38;
    --black-gradient: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    --Orange: #FC7614;
    --Light-Grey: #969FAD;
    --Medium-Gray: #7C8798;
}

.page-wrapper {
    background: var(--Very-Dark-Blue);
}
.rating-container {
    width: 412px;
    height: 416px;
    background: var(--black-gradient);
    border-radius: 30px;
    padding: 32px;
    flex-shrink: 0;
}
#contents {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.star {
    top: 14px;
    right: 15px;
    margin-bottom: 24px;
}
h1 {
    font-family: Overpass, 'sans-serif';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    margin-bottom: 15px;
}
.para {
    font-family: Overpass, 'sans-serif';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--Light-Grey);
    width: 340px;
    margin-bottom: 24px;
}
.select-btn {
    width: 8px;
    font-family: Overpass, 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: var(--Medium-Gray);
    text-align: center;
}
label {
    width: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-btn{
    height: 51px;
    display: flex;
    gap: 22px;
    position: absolute;
}
.display{
    flex-shrink: 0;
    background: var(--Dark-Blue);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Overpass, 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: var(--Medium-Gray);
    text-align: center;
}
.display:hover {
    cursor: pointer;
    background: #FC7614;
    color: white;
}
label:focus {
    background: var(--Light-Grey);
    color: white;
}
#btnOne {
    display: none;
}
#btnTwo {
    display: none;
}
#btnThree {
    display: none;
}
#btnFour {
    display: none;
}
#btnFive {
    display: none;
}
#submit-btn {
    width: 341px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #FC7614;
    color: white;
    border: none;
    font-family: Overpass, 'sans-serif';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-top: 51px;
}
#submit-btn-container {
    margin-top: 32px;
}
#submit-btn:hover {
    cursor: pointer;
    background: white;
    color: #FC7614;
}

@media (max-width: 425px) {
    .rating-container {
        width: 327px;
        height: 360px;
        padding: 24px 22px 32px 24px;
    }
    .star {
        margin-bottom: 16px;
    }
    svg {
        width: 40px;
        height: 40px;
    }
    h1 {
        width: 279px;
        font-size: 24px;;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .para {
        width: 279px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
    label {
        width: 42px;
        height: 42px;
    }
    .select-btn {
        gap: 18px;
    }
    #submit-btn {
        width: 279px;
        margin-top: 35px;
    }
}